
.center {
    display: flex;
    margin: 0 auto;
  
}

.pageTitle h1 {
    float: left;
    line-height: 150px;
}
.module  {
	box-shadow: 0 0 2px  #92cbe6;
	padding: 20px;
	width: 20%;

}
.details {
	box-shadow: 0 0 2px  #92cbe6;
	padding: 20px;
	width: 80%;
}