* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

li:before {
   list-style-type: none;
}

.button{
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #9dddfa;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #92cbe6;
  background: linear-gradient(#afdff5, #9dddfa);
}


.button:active {
  outline: none;
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}



